<ion-header>
  <ion-toolbar >
    <ion-title>slide-camera</ion-title>
    <ion-buttons slot="end" routerLink="/List-Folder">
      <ion-button> Close </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide *ngFor="let photo of photos">
      <img [src]="transform(photo.img)"/>
      <div class="bottom-left">{{photo.date | date : 'short'}}</div>
    </ion-slide>
  </ion-slides>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="takePicture()">
    <ion-fab-button>
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
