<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="folder-open-outline"></ion-icon> add Folder
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"> Close </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Folder Number</ion-label>
    <ion-input [(ngModel)]="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Name Folder</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>

  <section>
    <ion-button (click)="addFolder()" [disabled]="number == '' || name == ''" expand="block">Save</ion-button>
  </section>

  <img class="img-center" src="assets/images/add-folder.png" />
</ion-content>