<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List Folders 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngIf="helper.ListFolder.length == 0">
    <img src="assets/images/no-folder.png" />
    <ion-card-header>
      <ion-card-title class="center-text">No Folders Find</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let folder of helper.ListFolder" routerLink="/slide-camera/{{folder.number}}">
      <ion-avatar slot="start">
        <img src="assets/images/folder.jpg">
      </ion-avatar>
      <ion-label>
        <h2>{{folder.name}}</h2>
        <h5>{{folder.number}}</h5>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab (click)="presentModal()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
